<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App - {{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='dist/img/weather_app.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('demo.index') }}">
                <img width="40" height="40" src="{{ url_for('static', filename='dist/img/weather_app.png') }}"
                     alt="logo"/>
            </a>
            <span>Weather App</span>

        </div>
        <ul class="nav-links">
            <li class="dropdown">
                <a href="#" class="dropbtn">Attica</a>
                <div class="dropdown-content">
                    {% for attica_city in attica_cities %}
                        <a href="{{ url_for('demo.index') }}?city={{ attica_city.city }}">{{ attica_city['city'] }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Thessaloniki</a>
                <div class="dropdown-content">
                    {% for thessaloniki_city in theassaloniki_cities %}
                        <a href="{{ url_for('demo.index') }}?city={{ thessaloniki_city.city }}"
                           class="dropdown-item">{{ thessaloniki_city['city'] }}</a>
                    {% endfor %}
                </div>
            </li>
            <li><a href="{{ url_for('demo.contact') }}" class="contact-link">Contact</a></li>
        </ul>
    </nav>
    <header>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <div id="status-message" class="hidden"></div>

    <footer class="footer">
        <div class="copyright">
            &copy; Copyright 2026 <a href="https://tkouleris.eu" class="footer-link">Thodoris Kouleris</a>, All rights
            reserved
        </div>
        <div class="powered-by">
            <span>Powered by </span>
            <img src="{{ url_for('static', filename='img/junie.jpg') }}" style="width: 50%;height: 30px;" alt="junie"/>
        </div>
    </footer>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PWPHBBD1ZR"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PWPHBBD1ZR');
</script>
</body>
</html>
