{% extends "base.html" %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Contact</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        You can contact me via the following methods:<br/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12"><b>email:</b> tkouleris@gmail.com</div>
                </div>
                <div class="row">
                    <div class="col-12"><b>web:</b> <a target="_blank" href="https://tkouleris.eu/">tkouleris.eu</a></div>
                </div>
                <div class="row">
                    <div class="col-12"><b>blog:</b> <a target="_blank" href="https://blog.tkouleris.eu/">blog.tkouleris.eu</a></div>
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
{% endblock %}

