{% extends "base.html" %}
{% block content %}
    <section class="current-weather">
        <div id="location-time" class="location-time">
                    <span class="location">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                        {{ weather['name'] }}
                    </span>
            <span class="separator">-</span>
            <span class="time">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        {{ weather['dt'] }}
                    </span>
        </div>

        <div class="main-info">

            <img id="current-icon"
                 src="https://openweathermap.org/img/wn/{{ weather['weather'][0]['icon'] }}@2x.png"
                 alt="Weather Icon" class="large-icon">
            <div id="current-temp" class="temp">{{ weather['main']['temp'] }}°C</div>
        </div>
        <div class="row" style="font-size: 12px;color: black;">
            Feels like {{ weather['main']['feels_like'] }}°C
        </div>
        <div class="details">
            <div class="detail-item">
                {#                    <span class="label">Humidity:</span>#}
                <span class="label">💧</span>
                <span id="current-humidity">{{ weather['main']['humidity'] }}%</span>
            </div>
            <div class="detail-item">
                {#                    <span class="label">Wind Speed:</span>#}
                <span class="label">💨</span>
                <span id="current-wind">{{ weather['wind']['speed'] }} m/s</span>
            </div>
        </div>
        <div id="current-description" class="description">
            {{ weather['weather'][0]['main'] }}, {{ weather['weather'][0]['description'] }}
        </div>
    </section>

    <section class="forecast">
        <h3>5-Day Forecast (Every 3 Hours)</h3>
        <div id="forecast-timeline" class="timeline">
            {% for day in custom_forecast %}
                <div class="forecast-day-row">
                    <h4>{{ day }}</h4>
                    <div class="day-items">
                        {% for data in custom_forecast[day] %}
                            <div class="forecast-item">
                                <div class="forecast-time">{{ data['time'] }}</div>
                                <img src="https://openweathermap.org/img/wn/{{ data['icon'] }}.png" alt="icon"
                                     class="forecast-icon">
                                <div class="forecast-temp">{{ data['temp'] }}°C</div>
                                <div class="forecast-description">{{ data['description'] }}</div>
                                <div class="forecast-details">
                                    <div>💧 {{ data['humidity'] }}%</div>
                                    <div>💨 {{ data['wind_speed'] }}m/s</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}