{% extends "base.html" %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Options</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <select class="form-select" id="selected_country">
                            {% for country in countries %}
                            <option value="{{ country['short'] }}" {% if country['short'] ==selected_country %} selected="selected" {% endif %}>{{ country['fullname'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-8">
                        <table>
                            <tr>
                        {% for city in selected_cities %}
                            <td style="border: 1px solid black;padding-left: 5px;padding-right: 15px;"> {{ city.city }}, {{ city.country }}</td>
                            <td style="border: 1px solid black;">
                                <button type="button"  name="btn_delete_city" id="btn_delete_city_{{ city.id }}" class="btn btn-sm btn-danger" style="padding: 0 5px;">
                                    <i class="fa fa-trash fa-xs" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td style="padding-left:5px;"></td>
                        {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    {% for city in cities %}
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title m-0">{{ city.city }}, {{ city.country }}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row" style="">
                                    <div class="col-12">
                                        <button type="button" name="btn_insert_city" id="btn_insert_city_{{ city.id }}" style="width: 100%;" class="btn btn-success">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
{#                                <div class="row">#}
{#                                    <div class="col-4">#}
{#                                        <img src="https://openweathermap.org/img/wn/{{ day['weather'][0]['icon'] }}@2x.png" alt="icon">#}
{#                                    </div>#}
{#                                    <div class="col-8" style="font-size: 40px;text-align: left;vertical-align: middle;">#}
{#                                        {{ day['main']['temp'] }}°C <br/>#}
{#                                        <div class="row" style="font-size: 16px;">#}
{#                                            Feels like {{ day['main']['feels_like'] }}°C#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="row">#}
{#                                    <div class="col-6"><b>Humidity:</b> {{ day['main']['humidity'] }} %</div>#}
{#                                    <div class="col-6"><b>Wind Speed:</b> {{ day['wind']['speed'] }} m/s</div>#}
{#                                </div>#}
                            </div>
                        </div>


                    </div>
                    {% endfor %}
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

{% endblock %}

